# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# load city data csv
cityDataDF = pd.read_csv("Output/cityData.csv")
cityDataDF.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,albany,42.6001,-73.9662,49.68,68,97,5.59,US,1635032133
1,punta arenas,-53.1500,-70.9167,35.71,87,90,27.63,CL,1635031999
2,haines junction,60.7522,-137.5108,39.15,70,71,0.00,CA,1635032068
3,maloy,61.9353,5.1136,49.73,80,100,13.00,NO,1635032146
4,saint-philippe,-21.3585,55.7679,72.99,84,58,11.81,RE,1635032014

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [9]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

# Store Lat and Lng as locations
locations = cityDataDF[["Lat","Lng"]]

# define humidity from dataFrame
humidity = cityDataDF["Humidity"]

In [21]:
# create map
humid_heatmap = gmaps.figure(center=(10, -20), zoom_level=2)

#Add heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=np.max(humidity), point_radius=3)

humid_heatmap.add_layer(heat_layer)
humid_heatmap

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [24]:
# My ideal weather conditions 
# Max Temperature  between 70-85
# wind speed below 10
# cloudiness  between 20-40%

idealWeatherDF = cityDataDF.loc[(cityDataDF["Max Temp"] >= 70) & (cityDataDF["Max Temp"] <= 85)\
                & (cityDataDF["Wind Speed"] <= 10) & (cityDataDF["Cloudiness"]>= 20) & (cityDataDF["Cloudiness"]<= 40)].dropna()
idealWeatherDF

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
8,saint-pierre,-21.3393,55.4781,73.08,81,40,6.91,RE,1635032150
53,georgetown,5.4112,100.3354,78.89,88,20,1.99,MY,1635032092
68,louis trichardt,-23.0439,29.9032,77.88,26,25,3.36,ZA,1635032204
172,hobyo,5.3505,48.5268,78.58,80,30,7.25,SO,1635032286
200,gushikawa,26.3544,127.8686,74.43,79,20,8.05,JP,1635032323
202,kupang,-10.1667,123.5833,81.18,89,20,1.14,ID,1635032325
208,ambon,-3.6954,128.1814,80.74,89,40,3.44,ID,1635032331
269,hetauda,27.4284,85.0322,74.55,90,39,2.84,NP,1635032384
333,lehigh acres,26.6254,-81.6248,82.38,84,20,1.01,US,1635032443
344,san andres,12.5847,-81.7006,84.22,79,40,3.44,CO,1635032453
367,cockburn town,21.4612,-71.1419,82.36,69,40,9.22,TC,1635032066
371,airai,-8.9266,125.4092,73.44,46,34,1.32,TL,1635032283
393,berbera,10.4396,45.0143,82.47,62,35,6.20,SO,1635032495
397,sarankhola,22.3082,89.7897,70.47,82,29,4.16,BD,1635032498
461,angoche,-16.2325,39.9086,73.58,83,30,9.93,MZ,1635032555
463,bandarbeyla,9.4942,50.8122,76.59,83,22,4.70,SO,1635032558
477,raga,8.4596,25.6780,70.95,88,26,3.98,SS,1635032572
487,bintulu,3.1667,113.0333,75.61,94,20,5.99,MY,1635032581
503,arrecife,28.9630,-13.5477,71.67,64,40,6.91,ES,1635032339
553,miri,4.4148,114.0089,75.34,100,20,2.30,MY,1635032645

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [34]:
#Store into variable named hotel_df.
hotel_df = idealWeatherDF[["City","Lat","Lng", "Country"]]

In [35]:
hotel_df["Hotel Name"] = ""
hotel_df

<ipython-input-35-56b4fe6e59b6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"] = ""

                City      Lat       Lng Country Hotel Name
8       saint-pierre -21.3393   55.4781      RE
53        georgetown   5.4112  100.3354      MY
68   louis trichardt -23.0439   29.9032      ZA
172            hobyo   5.3505   48.5268      SO
200        gushikawa  26.3544  127.8686      JP
202           kupang -10.1667  123.5833      ID
208            ambon  -3.6954  128.1814      ID
269          hetauda  27.4284   85.0322      NP
333     lehigh acres  26.6254  -81.6248      US
344       san andres  12.5847  -81.7006      CO
367    cockburn town  21.4612  -71.1419      TC
371            airai  -8.9266  125.4092      TL
393          berbera  10.4396   45.0143      SO
397       sarankhola  22.3082   89.7897      BD
461          angoche -16.2325   39.9086      MZ
463      bandarbeyla   9.4942   50.8122      SO
477             raga   8.4596   25.6780      SS
487          bintulu   3.1667  113.0333      MY
503         arrecife  28.9630  -13.5477      ES
553             miri   4.4148  114.0089      MY

In [ ]:
# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


# Set parameters to search for hotels with 5000 meters.
params = {
    "keyword": "hotel",
    "radius": 5000,
    "type": "hotel",
    "key": g_key
}

# run a request using our params dictionary

In [ ]:
# Hit the Google Places API for each city's coordinates.

for index,row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    city = row["City"]
    
    # add location parameter
    params["location"] = f"{lat},{lng}"
    
    print(f"Processing results for {city}...)
    response = requests.get(base_url, params=params).json()
          
    # gather hotel search results
    results = response['results']
          
# Store the first Hotel result into the DataFrame.
    try: 
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
    except:
          print(f"Could not find result for {city}.)
          
          
Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure